<%= form_for(@comment, url: addcomment_objeto_path, :remote => true) do |c| %>
  <div class="field">
    <%= c.text_area :content, size: "100x3", id: "comment_area" %>
  </div>
  <div class="actions">
    <%= c.submit "Add comment" %>
  </div>
<% end %>