<h1>
	New Objeto 
	<% if params[:pid].present? %>
		from <%= Objeto.where(id: params[:pid])[0].titulo %>
	<% end %>
</h1>

<%= render 'form' %>

<% if params[:pid].present? %>
  <%= link_to 'Back', objetos_path(:id => params[:pid]) %>
<% else %>
  <%= link_to 'Back', objetos_path %>
<% end %>